<!DOCTYPE html>
<html>
  <head>
    <title>管理后台-华远卫士</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :javascripts %>
  </head>

  <body>
    <div class="container">
      <%= render 'admin/layouts/menu' %>
    
      <% unless flash[:notice].blank? %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
      <% end %>
      
      <div class="yielder">
        <%= yield %>
      </div>

      <style type="text/css">
        .yielder {
            margin-top: 0px;
          }
      </style>
    </div>
  </body>
</html>


