<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
		  <div class="navbar-brand"> 
		  	<img src="/logo.png" class="img-responsive">
		  </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      
      <ul class="nav navbar-nav">
      	<% @categories.each do |category| %>
					
				<li class="dropdown ">
					  <a href="/<%= category.url %>" >
					    <%= category.title %>
				    </a>
						<% if category.has_children? %>
						  <ul class="dropdown-menu" aria-labelledby="dLabel">
							  <% category.children.each do |t| %>
							  	<li><a href="/<%= category.url %>/<%= t.url %>"></a><%= t.title %></li>
							  <% end %>
						  </ul>
					  <% end %>
				<% end %>		
				</li>		
<!-- 
				<% @categories.each do |category| %>
					<li><a href="/<%= category.url %>"><%= category.title %></a></li>
				<% end %>	
 -->

 			</ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>











<!-- <style type="text/css">
						#sj{ background: #050505 none repeat scroll 0 0;
						    border-radius: 10px;
						    color: #ceaa69;
						    font-size: 14px;
						    height: 22px;
						    padding: 20px;
						    position: fixed;
						    right: 10px;
								top:0px;}
					</style>
					<div id="sj">
						<div id="date"><script>getdates();</script></div>
						<script language="javascript">
							function getdates()
							{
							var w_array=new Array("星期天","星期一","星期二","星期三","星期四","星期五","星期六");
							var d=new Date();
							var year=d.getFullYear();
							var month=d.getMonth()+1;
							var day=d.getDate();
							var week=d.getDay();
							var h=d.getHours();
							var mins=d.getMinutes();
							var s=d.getSeconds();
							if(month<10) month="0" + month
							if(day<10) month="0" + day
							if(h<10) h="0" + h
							if(mins<10) mins="0" + mins
							if(s<10) s="0" + s
							var shows=" <span>" + year + "-" + month + "-" + day + " " + h + ":" + mins +  ":" + s + " " + w_array[week] + "</span>";
							document.getElementById("date").innerHTML=shows;
							setTimeout("getdates()",1000);
							}
							getdates();
						</script>
	        </div> -->

 
