<!DOCTYPE html>
<html>
  <head>
    <title>华远卫士安保集团</title>
    <link rel="shortcut icon" href="/logo_icon_48.ico" type="image/x-icon"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :javascripts %>
  </head>

  <body>
	  <%= render 'layouts/menu' %>
    <div class="container">
      <% unless flash[:notice].blank? %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
      <% end -%>
      <div class="yield">
        <%= yield %>
      </div>


  </body>
</html>
